.checkout-form {
    padding: 60px 100px;
    width: 100%;
    border-radius: 20px;
}

.checkout-form__field {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.checkout-form__field ~ .checkout-form__field {
    margin-top: 30px;
}

.checkout-form__field label {
    font-family: var(--font-roboto);
    font-size: 16px;
    font-weight: 400;
    color: var(--color-white);
}

.checkout-form__field .required {
    color: rgb(245, 106, 106);
}

.checkout-form__field span {
    display: block;
    margin-top: 10px;
}

.checkout-form__input {
    padding: 17px 13px;
    height: 50px;
    border-radius: 100px;
    outline: none;
    border: 1px solid transparent;
    width: 100%;
}

.checkout-form__order-review {
    background: var(--color-white);
    border-radius: 20px;
}

.checkout-form__order-title {
    padding: 40px 30px;
}
