.contacts {
    padding: 30px 0 50px;
}

.contacts__map iframe {
    border-radius: 20px;
    margin-bottom: 30px;
}

.contacts__info {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contacts__side {
    display: flex;
}

.contacts__side--left {
    margin-right: 90px;
}

.contacts__icon {
    margin-right: 20px;
}

.contacts__link {
    display: block;
}

.contacts__link ~ .contacts__link {
    margin-top: 20px;
}