.contacts {
    padding: 30px 0 50px;
    @include tablet(padding, 25px 0 30px);
}

.contacts__map ymaps {
    border-radius: 20px;
    margin-bottom: 30px;
}

.contacts__info {
    display: flex;
    justify-content: center;
    width: 100%;
    @include mobile-block {
        flex-direction: column;
        align-items: center;
    }
}

.contacts__side {
    display: flex;
}

.contacts__side ~ .contacts__side {
    @include mobile(margin-top, 30px);
}

.contacts__side--left {
    margin-right: 90px;
    @include mobile(margin-right, 100px);
}

.contacts__icon {
    margin-right: 20px;
}

.contacts__link {
    display: block;
    font-size: responsive 16px 22px;
    font-range: 1024px 1440px;
}

.contacts__link ~ .contacts__link {
    margin-top: 20px;
    @include mobile(margin-top, 10px);
}