.menu__list{
    display: flex;
    font-family: var(--font-gotham);
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.menu__item {
    color: var(--color-black-gray);
}

.menu__item ~ .menu__item {
    margin-left: 20px;
}

.menu__link {
    color: var(--color-black-gray);
    text-decoration: none;
    transition: ease .3s;
}

.menu__link:hover {
    color: var(--color-white);
}