{% include "partials/_header.html" %}

<!-- MAIN -->
<main class="main page__container bg--dark">

    <!-- Main-screen -->
    <section class="main-screen main-screen--store">
        <div class="main-screen__vector main-screen__vector--store">
            <div class="main-screen__inner container">
                <div class="main-screen__text main-screen__text--store">
                    <h1 class="main-screen__heading title title--white title--big title--uppercase title--w-black">
                        СТРОЙМОНТАЖКОНСАЛТИНГ
                    </h1>
                    <p class="main-screen__subtitle text text--white text--large text-w-regular">
                        Мы с Вами на площадке, мы слушаем Вас и помогаем найти оптимальные решения!
                    </p>
                </div>
            </div>   
        </div>
    </section>
    <!-- /. Main-screen -->

    <!-- Services-store -->
    <section class="services-store services-store--archive">
        <div class="services-store__body container">
            <h2 class="services-store__heading title title--white title--large title--uppercase title--w-black title--indent">
                Наши услуги:
            </h2>
            <div class="services-store__info">
                <div class="services-store__message">
                    <div class="services-store__notice text text--white text--normal text--w-bold">
                        Вы добавили "Уборка придомовой территории (летние и зимние меры по очистке участков общего пользования, парковок)" в корзину.
                    </div>
                    <a href="javascript:;" class="services-store__button button button--yellow">
                        В корзину
                    </a>
                </div>
            </div>
            <div class="services-store__container services-store__container--archive">

                <!-- Sidebar -->
                <div class="sidebar sidebar--archive">
                    <aside class="sidebar__aside">
                        <a href="#" class="sidebar__category is-active">
                            <div class="sidebar__cat-icon">
                                <img src="img/category/icon-cat-1.svg" alt="" class="sidebar__cat-img">
                            </div>
                            <h3 class="sidebar__cat-name text text--normal text--white text--w-regular">
                                Чистка и уборка прилегающих территорий
                            </h3>
                        </a>
                        <a href="#" class="sidebar__category">
                            <div class="sidebar__cat-icon">
                                <img src="img/category/icon-cat-2.svg" alt="" class="sidebar__cat-img">
                            </div>
                            <h3 class="sidebar__cat-name text text--normal text--white text--w-regular">
                                Благоустройство ландшафта
                            </h3>
                        </a>
                        <a href="#" class="sidebar__category">
                            <div class="sidebar__cat-icon">
                                <img src="img/category/icon-cat-3.svg" alt="" class="sidebar__cat-img">
                            </div>
                            <h3 class="sidebar__cat-name text text--normal text--white text--w-regular">
                                Комплексное обслуживание территорий и помещений
                            </h3>
                        </a>
                        <a href="#" class="sidebar__category">
                            <div class="sidebar__cat-icon">
                                <img src="img/category/icon-cat-4.svg" alt="" class="sidebar__cat-img">
                            </div>
                            <h3 class="sidebar__cat-name text text--normal text--white text--w-regular">
                                Выполнение строительного контроля и авторского надзора
                            </h3>
                        </a>
                    </aside>
                </div>
                <!-- /. Sidebar -->

                <div class="services-store__shop-cards services-store__shop-cards--archive">

                    <!-- Shop-card -->
                    <div class="shop-card shop-card--archive">
                        <div class="shop-card__icon">
                            <img src="img/shop-card/shop-card-icon-1.svg" alt="" class="shop-card__img">
                        </div>
                        <h3 class="shop-card__name text text--normal text--white text--w-regular">
                            Уборка придомовой территории (летние и зимние меры по очистке участков общего пользования, парковок)
                        </h3>
                        <div class="shop-card__quantity">
                            <div class="shop-card__number">
                                <button class="shop-card__arrow shop-card__arrow--minus" type="button">
                                    <svg class="shop-card__arrow-svg" width="8" height="2" viewBox="0 0 8 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.15625 1.17969H0V0H7.15625V1.17969Z" fill="white"/>
                                    </svg>
                                </button>
                                <input type="number" min="1" max="9999999" value="1" name="shop-card-quantity" class="shop-card__field">
                                <button class="shop-card__arrow shop-card__arrow--plus" type="button">
                                    <svg class="shop-card__arrow-svg" width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.125 3.32031H8.29688V4.6875H5.125V8.28125H3.67188V4.6875H0.5V3.32031H3.67188V0H5.125V3.32031Z" fill="white"/>
                                    </svg>
                                </button>
                            </div>
                            <span class="shop-card__options text text--white text--normal">
                                шт.
                            </span>
                            <input type="range" min="1" max="99999" value="1" class="shop-card__range hide">
                        </div>
                        <div class="shop-card__price text text--white text--w-bold">
                            9 999 999 руб.
                        </div>
                        <div class="shop-card__action">
                            <a href="javascript:;" class="button button--basket">
                                <svg width="39" height="28" viewBox="0 0 39 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1H6.27939C7.47915 1 8.56354 1.71481 9.03648 2.81743L9.72386 4.42M14.7222 16.0733H32.4542C33.6951 16.0733 34.808 15.3093 35.2539 14.1511L37.4302 8.49779C38.1867 6.53265 36.7362 4.42 34.6305 4.42H9.72386M14.7222 16.0733L9.72386 4.42M14.7222 16.0733L15.4492 18.0401C15.8845 19.2179 17.0074 20 18.2631 20H33.8542" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                    <circle cx="20" cy="25" r="2" stroke="white" stroke-width="2"/>
                                    <circle cx="30" cy="25" r="2" stroke="white" stroke-width="2"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- /. Shop-card -->

                    <!-- Shop-card -->
                    <div class="shop-card shop-card--archive">
                        <div class="shop-card__icon">
                            <img src="img/shop-card/shop-card-icon-2.svg" alt="" class="shop-card__img">
                        </div>
                        <h3 class="shop-card__name text text--normal text--white text--w-regular">
                            Уборка сосулек и наледи
                        </h3>
                        <div class="shop-card__quantity">
                            <div class="shop-card__number">
                                <button class="shop-card__arrow shop-card__arrow--minus" type="button">
                                    <svg class="shop-card__arrow-svg" width="8" height="2" viewBox="0 0 8 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.15625 1.17969H0V0H7.15625V1.17969Z" fill="white"/>
                                    </svg>
                                </button>
                                <input type="number" min="1" max="9999999" value="1" name="shop-card-quantity" class="shop-card__field">
                                <button class="shop-card__arrow shop-card__arrow--plus" type="button">
                                    <svg class="shop-card__arrow-svg" width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.125 3.32031H8.29688V4.6875H5.125V8.28125H3.67188V4.6875H0.5V3.32031H3.67188V0H5.125V3.32031Z" fill="white"/>
                                    </svg>
                                </button>
                            </div>
                            <span class="shop-card__options text text--white text--normal">
                                кв.м./месяц
                            </span>
                            <input type="range" min="1" max="99999" value="1" class="shop-card__range hide">
                        </div>
                        <div class="shop-card__price text text--white text--w-bold">
                            9 999 999 руб.
                        </div>
                        <div class="shop-card__action">
                            <a href="javascript:;" class="button button--basket">
                                <svg width="39" height="28" viewBox="0 0 39 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1H6.27939C7.47915 1 8.56354 1.71481 9.03648 2.81743L9.72386 4.42M14.7222 16.0733H32.4542C33.6951 16.0733 34.808 15.3093 35.2539 14.1511L37.4302 8.49779C38.1867 6.53265 36.7362 4.42 34.6305 4.42H9.72386M14.7222 16.0733L9.72386 4.42M14.7222 16.0733L15.4492 18.0401C15.8845 19.2179 17.0074 20 18.2631 20H33.8542" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                    <circle cx="20" cy="25" r="2" stroke="white" stroke-width="2"/>
                                    <circle cx="30" cy="25" r="2" stroke="white" stroke-width="2"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- /. Shop-card -->

                    <!-- Shop-card -->
                    <div class="shop-card shop-card--archive">
                        <div class="shop-card__icon">
                            <img src="img/shop-card/shop-card-icon-1.svg" alt="" class="shop-card__img">
                        </div>
                        <h3 class="shop-card__name text text--normal text--white text--w-regular">
                            Очистка крыш от снега
                        </h3>
                        <div class="shop-card__quantity">
                            <div class="shop-card__number">
                                <button class="shop-card__arrow shop-card__arrow--minus" type="button">
                                    <svg class="shop-card__arrow-svg" width="8" height="2" viewBox="0 0 8 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.15625 1.17969H0V0H7.15625V1.17969Z" fill="white"/>
                                    </svg>
                                </button>
                                <input type="number" min="1" max="9999999" value="1" name="shop-card-quantity" class="shop-card__field">
                                <button class="shop-card__arrow shop-card__arrow--plus" type="button">
                                    <svg class="shop-card__arrow-svg" width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.125 3.32031H8.29688V4.6875H5.125V8.28125H3.67188V4.6875H0.5V3.32031H3.67188V0H5.125V3.32031Z" fill="white"/>
                                    </svg>
                                </button>
                            </div>
                            <span class="shop-card__options text text--white text--normal">
                                кв.м.
                            </span>
                            <input type="range" min="1" max="99999" value="1" class="shop-card__range hide">
                        </div>
                        <div class="shop-card__price text text--white text--w-bold">
                            9 999 999 руб.
                        </div>
                        <div class="shop-card__action">
                            <a href="javascript:;" class="button button--basket">
                                <svg width="39" height="28" viewBox="0 0 39 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1H6.27939C7.47915 1 8.56354 1.71481 9.03648 2.81743L9.72386 4.42M14.7222 16.0733H32.4542C33.6951 16.0733 34.808 15.3093 35.2539 14.1511L37.4302 8.49779C38.1867 6.53265 36.7362 4.42 34.6305 4.42H9.72386M14.7222 16.0733L9.72386 4.42M14.7222 16.0733L15.4492 18.0401C15.8845 19.2179 17.0074 20 18.2631 20H33.8542" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                    <circle cx="20" cy="25" r="2" stroke="white" stroke-width="2"/>
                                    <circle cx="30" cy="25" r="2" stroke="white" stroke-width="2"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- /. Shop-card -->
                    <!-- Shop-card -->
                    <div class="shop-card shop-card--archive">
                        <div class="shop-card__icon">
                            <img src="img/shop-card/shop-card-icon-2.svg" alt="" class="shop-card__img">
                        </div>
                        <h3 class="shop-card__name text text--normal text--white text--w-regular">
                            Устройство корыта под дорожную (разработка грунта, доработка грунта вручную, планировка и употнение)
                        </h3>
                        <div class="shop-card__quantity">
                            <div class="shop-card__number">
                                <button class="shop-card__arrow shop-card__arrow--minus" type="button">
                                    <svg class="shop-card__arrow-svg" width="8" height="2" viewBox="0 0 8 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.15625 1.17969H0V0H7.15625V1.17969Z" fill="white"/>
                                    </svg>
                                </button>
                                <input type="number" min="1" max="9999999" value="1" name="shop-card-quantity" class="shop-card__field">
                                <button class="shop-card__arrow shop-card__arrow--plus" type="button">
                                    <svg class="shop-card__arrow-svg" width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.125 3.32031H8.29688V4.6875H5.125V8.28125H3.67188V4.6875H0.5V3.32031H3.67188V0H5.125V3.32031Z" fill="white"/>
                                    </svg>
                                </button>
                            </div>
                            <span class="shop-card__options text text--white text--normal">
                                куб.м.
                            </span>
                            <input type="range" min="1" max="99999" value="1" class="shop-card__range hide">
                        </div>
                        <div class="shop-card__price text text--white text--w-bold">
                            9 999 999 руб.
                        </div>
                        <div class="shop-card__action">
                            <a href="javascript:;" class="button button--basket">
                                <svg width="39" height="28" viewBox="0 0 39 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1H6.27939C7.47915 1 8.56354 1.71481 9.03648 2.81743L9.72386 4.42M14.7222 16.0733H32.4542C33.6951 16.0733 34.808 15.3093 35.2539 14.1511L37.4302 8.49779C38.1867 6.53265 36.7362 4.42 34.6305 4.42H9.72386M14.7222 16.0733L9.72386 4.42M14.7222 16.0733L15.4492 18.0401C15.8845 19.2179 17.0074 20 18.2631 20H33.8542" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                    <circle cx="20" cy="25" r="2" stroke="white" stroke-width="2"/>
                                    <circle cx="30" cy="25" r="2" stroke="white" stroke-width="2"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- /. Shop-card -->
                    <!-- Shop-card -->
                    <div class="shop-card shop-card--archive">
                        <div class="shop-card__icon">
                            <img src="img/shop-card/shop-card-icon-1.svg" alt="" class="shop-card__img">
                        </div>
                        <h3 class="shop-card__name text text--normal text--white text--w-regular">
                            Уборка сосулек и наледи
                        </h3>
                        <div class="shop-card__quantity">
                            <div class="shop-card__number">
                                <button class="shop-card__arrow shop-card__arrow--minus" type="button">
                                    <svg class="shop-card__arrow-svg" width="8" height="2" viewBox="0 0 8 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.15625 1.17969H0V0H7.15625V1.17969Z" fill="white"/>
                                    </svg>
                                </button>
                                <input type="number" min="1" max="9999999" value="1" name="shop-card-quantity" class="shop-card__field">
                                <button class="shop-card__arrow shop-card__arrow--plus" type="button">
                                    <svg class="shop-card__arrow-svg" width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.125 3.32031H8.29688V4.6875H5.125V8.28125H3.67188V4.6875H0.5V3.32031H3.67188V0H5.125V3.32031Z" fill="white"/>
                                    </svg>
                                </button>
                            </div>
                            <span class="shop-card__options text text--white text--normal">
                                пог.м.
                            </span>
                            <input type="range" min="1" max="99999" value="1" class="shop-card__range hide">
                        </div>
                        <div class="shop-card__price text text--white text--w-bold">
                            9 999 999 руб.
                        </div>
                        <div class="shop-card__action">
                            <a href="javascript:;" class="button button--basket">
                                <svg width="39" height="28" viewBox="0 0 39 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1H6.27939C7.47915 1 8.56354 1.71481 9.03648 2.81743L9.72386 4.42M14.7222 16.0733H32.4542C33.6951 16.0733 34.808 15.3093 35.2539 14.1511L37.4302 8.49779C38.1867 6.53265 36.7362 4.42 34.6305 4.42H9.72386M14.7222 16.0733L9.72386 4.42M14.7222 16.0733L15.4492 18.0401C15.8845 19.2179 17.0074 20 18.2631 20H33.8542" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                    <circle cx="20" cy="25" r="2" stroke="white" stroke-width="2"/>
                                    <circle cx="30" cy="25" r="2" stroke="white" stroke-width="2"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- /. Shop-card -->

                </div>

            </div>
        </div>
    </section>
    <!-- /. Services-store -->

</main>
<!-- /. MAIN -->

{% include "partials/_footer.html" %}