{% include "partials/_header.html" %}

<!-- MAIN -->
<main class="main page__container bg--dark">

    <!-- Main-screen -->
    <section class="main-screen main-screen--store">
        <div class="main-screen__vector main-screen__vector--store">
            <div class="main-screen__inner container">
                <div class="main-screen__text main-screen__text--store">
                    <h1 class="main-screen__heading title title--white title--big title--uppercase title--w-black">
                        СТРОЙМОНТАЖКОНСАЛТИНГ
                    </h1>
                    <p class="main-screen__subtitle text text--white text--large text-w-regular">
                        Мы с Вами на площадке, мы слушаем Вас и помогаем найти оптимальные решения!
                    </p>
                </div>
            </div>   
        </div>
    </section>
    <!-- /. Main-screen -->

</main>

{% include "partials/_footer.html" %}