{% include "partials/_header.html" %}

<!-- MAIN -->
<main class="main page__container bg--dark">

    <!-- Main-screen -->
    <section class="main-screen main-screen--store">
        <div class="main-screen__vector main-screen__vector--store">
            <div class="main-screen__inner container">
                <div class="main-screen__text main-screen__text--store">
                    <h1 class="main-screen__heading title title--white title--big title--uppercase title--w-black">
                        СТРОЙМОНТАЖКОНСАЛТИНГ
                    </h1>
                    <p class="main-screen__subtitle text text--white text--large text-w-regular">
                        Мы с Вами на площадке, мы слушаем Вас и помогаем найти оптимальные решения!
                    </p>
                </div>
            </div>   
        </div>
    </section>
    <!-- /. Main-screen -->

    <!-- Services-store -->
    <section class="services-store">
        <div class="services-store__body container">
            <h2 class="services-store__heading title title--white title--large title--uppercase title--w-black title--indent">
                Корзина
            </h2>
            <div class="services-store__container">

                <div class="services-store__shop-cards">

                    <!-- Shop-card -->
                    <div class="shop-card shop-card--basket">
                        <div class="shop-card__icon">
                            <img src="img/shop-card/shop-card-icon-1.svg" alt="" class="shop-card__img">
                        </div>
                        <h3 class="shop-card__name text text--normal text--white text--w-regular">
                            Уборка придомовой территории (летние и зимние меры по очистке участков общего пользования, парковок)
                        </h3>
                        <div class="shop-card__quantity">
                            <input type="number" min="1" max="9999999" value="" name="shop-card-quantity" class="shop-card__field" placeholder="1 шт.">
                            <input type="range" min="1" max="99999" value="1" class="shop-card__range" id="myRange">
                        </div>
                        <div class="shop-card__price text text--white text--w-bold">
                            9 999 999 руб.
                        </div>
                        <div class="shop-card__action">
                            <a href="javascript:;" class="button button--basket">
                                <svg width="39" height="28" viewBox="0 0 39 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1H6.27939C7.47915 1 8.56354 1.71481 9.03648 2.81743L9.72386 4.42M14.7222 16.0733H32.4542C33.6951 16.0733 34.808 15.3093 35.2539 14.1511L37.4302 8.49779C38.1867 6.53265 36.7362 4.42 34.6305 4.42H9.72386M14.7222 16.0733L9.72386 4.42M14.7222 16.0733L15.4492 18.0401C15.8845 19.2179 17.0074 20 18.2631 20H33.8542" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                    <circle cx="20" cy="25" r="2" stroke="white" stroke-width="2"/>
                                    <circle cx="30" cy="25" r="2" stroke="white" stroke-width="2"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- /. Shop-card -->

                    <!-- Shop-card -->
                    <div class="shop-card shop-card--basket">
                        <div class="shop-card__icon">
                            <img src="img/shop-card/shop-card-icon-2.svg" alt="" class="shop-card__img">
                        </div>
                        <h3 class="shop-card__name text text--normal text--white text--w-regular">
                            Уборка сосулек и наледи
                        </h3>
                        <div class="shop-card__quantity">
                            <input type="number" min="1" max="9999999" value="" name="shop-card-quantity" class="shop-card__field" placeholder="1 кв.м./месяц">
                            <input type="range" min="1" max="99999" value="1" class="shop-card__range" id="myRange">
                        </div>
                        <div class="shop-card__price text text--white text--w-bold">
                            9 999 999 руб.
                        </div>
                        <div class="shop-card__action">
                            <a href="javascript:;" class="button button--basket">
                                <svg width="39" height="28" viewBox="0 0 39 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1H6.27939C7.47915 1 8.56354 1.71481 9.03648 2.81743L9.72386 4.42M14.7222 16.0733H32.4542C33.6951 16.0733 34.808 15.3093 35.2539 14.1511L37.4302 8.49779C38.1867 6.53265 36.7362 4.42 34.6305 4.42H9.72386M14.7222 16.0733L9.72386 4.42M14.7222 16.0733L15.4492 18.0401C15.8845 19.2179 17.0074 20 18.2631 20H33.8542" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                    <circle cx="20" cy="25" r="2" stroke="white" stroke-width="2"/>
                                    <circle cx="30" cy="25" r="2" stroke="white" stroke-width="2"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- /. Shop-card -->

                    <!-- Shop-card -->
                    <div class="shop-card shop-card--basket">
                        <div class="shop-card__icon">
                            <img src="img/shop-card/shop-card-icon-1.svg" alt="" class="shop-card__img">
                        </div>
                        <h3 class="shop-card__name text text--normal text--white text--w-regular">
                            Очистка крыш от снега
                        </h3>
                        <div class="shop-card__quantity">
                            <input type="number" min="1" max="9999999" value="" name="shop-card-quantity" class="shop-card__field" placeholder="1 кв.м.">
                            <input type="range" min="1" max="9999999" value="1" class="shop-card__range" id="myRange">
                        </div>
                        <div class="shop-card__price text text--white text--w-bold">
                            9 999 999 руб.
                        </div>
                        <div class="shop-card__action">
                            <a href="javascript:;" class="button button--basket">
                                <svg width="39" height="28" viewBox="0 0 39 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1H6.27939C7.47915 1 8.56354 1.71481 9.03648 2.81743L9.72386 4.42M14.7222 16.0733H32.4542C33.6951 16.0733 34.808 15.3093 35.2539 14.1511L37.4302 8.49779C38.1867 6.53265 36.7362 4.42 34.6305 4.42H9.72386M14.7222 16.0733L9.72386 4.42M14.7222 16.0733L15.4492 18.0401C15.8845 19.2179 17.0074 20 18.2631 20H33.8542" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                    <circle cx="20" cy="25" r="2" stroke="white" stroke-width="2"/>
                                    <circle cx="30" cy="25" r="2" stroke="white" stroke-width="2"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- /. Shop-card -->
                    <!-- Shop-card -->
                    <div class="shop-card shop-card--basket">
                        <div class="shop-card__icon">
                            <img src="img/shop-card/shop-card-icon-2.svg" alt="" class="shop-card__img">
                        </div>
                        <h3 class="shop-card__name text text--normal text--white text--w-regular">
                            Устройство корыта под дорожную (разработка грунта, доработка грунта вручную, планировка и употнение)
                        </h3>
                        <div class="shop-card__quantity">
                            <input type="number" min="1" max="9999999" value="" name="shop-card-quantity" class="shop-card__field" placeholder="1 куб.м.">
                            <input type="range" min="1" max="9999999" value="1" class="shop-card__range" id="myRange">
                        </div>
                        <div class="shop-card__price text text--white text--w-bold">
                            9 999 999 руб.
                        </div>
                        <div class="shop-card__action">
                            <a href="javascript:;" class="button button--basket">
                                <svg width="39" height="28" viewBox="0 0 39 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1H6.27939C7.47915 1 8.56354 1.71481 9.03648 2.81743L9.72386 4.42M14.7222 16.0733H32.4542C33.6951 16.0733 34.808 15.3093 35.2539 14.1511L37.4302 8.49779C38.1867 6.53265 36.7362 4.42 34.6305 4.42H9.72386M14.7222 16.0733L9.72386 4.42M14.7222 16.0733L15.4492 18.0401C15.8845 19.2179 17.0074 20 18.2631 20H33.8542" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                    <circle cx="20" cy="25" r="2" stroke="white" stroke-width="2"/>
                                    <circle cx="30" cy="25" r="2" stroke="white" stroke-width="2"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- /. Shop-card -->
                    <!-- Shop-card -->
                    <div class="shop-card shop-card--basket">
                        <div class="shop-card__icon">
                            <img src="img/shop-card/shop-card-icon-1.svg" alt="" class="shop-card__img">
                        </div>
                        <h3 class="shop-card__name text text--normal text--white text--w-regular">
                            Уборка сосулек и наледи
                        </h3>
                        <div class="shop-card__quantity">
                            <input type="number" min="1" max="9999999" value="" name="shop-card-quantity" class="shop-card__field" placeholder="1 пог.м.">
                            <input type="range" min="1" max="9999999" value="1" class="shop-card__range" id="myRange">
                        </div>
                        <div class="shop-card__price text text--white text--w-bold">
                            9 999 999 руб.
                        </div>
                        <div class="shop-card__action">
                            <a href="javascript:;" class="button button--basket">
                                <svg width="39" height="28" viewBox="0 0 39 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1H6.27939C7.47915 1 8.56354 1.71481 9.03648 2.81743L9.72386 4.42M14.7222 16.0733H32.4542C33.6951 16.0733 34.808 15.3093 35.2539 14.1511L37.4302 8.49779C38.1867 6.53265 36.7362 4.42 34.6305 4.42H9.72386M14.7222 16.0733L9.72386 4.42M14.7222 16.0733L15.4492 18.0401C15.8845 19.2179 17.0074 20 18.2631 20H33.8542" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                    <circle cx="20" cy="25" r="2" stroke="white" stroke-width="2"/>
                                    <circle cx="30" cy="25" r="2" stroke="white" stroke-width="2"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- /. Shop-card -->
                    <!-- Shop-card -->
                    <div class="shop-card shop-card--basket">
                        <div class="shop-card__icon">
                            <img src="img/shop-card/shop-card-icon-1.svg" alt="" class="shop-card__img">
                        </div>
                        <h3 class="shop-card__name text text--normal text--white text--w-regular">
                            Уборка сосулек и наледи
                        </h3>
                        <div class="shop-card__quantity">
                            <input type="number" min="1" max="9999999" value="" name="shop-card-quantity" class="shop-card__field" placeholder="1 пог.м.">
                            <input type="range" min="1" max="9999999" value="1" class="shop-card__range" id="myRange">
                        </div>
                        <div class="shop-card__price text text--white text--w-bold">
                            9 999 999 руб.
                        </div>
                        <div class="shop-card__action">
                            <a href="javascript:;" class="button button--basket">
                                <svg width="39" height="28" viewBox="0 0 39 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1H6.27939C7.47915 1 8.56354 1.71481 9.03648 2.81743L9.72386 4.42M14.7222 16.0733H32.4542C33.6951 16.0733 34.808 15.3093 35.2539 14.1511L37.4302 8.49779C38.1867 6.53265 36.7362 4.42 34.6305 4.42H9.72386M14.7222 16.0733L9.72386 4.42M14.7222 16.0733L15.4492 18.0401C15.8845 19.2179 17.0074 20 18.2631 20H33.8542" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                    <circle cx="20" cy="25" r="2" stroke="white" stroke-width="2"/>
                                    <circle cx="30" cy="25" r="2" stroke="white" stroke-width="2"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- /. Shop-card -->
                    <!-- Shop-card -->
                    <div class="shop-card shop-card--basket">
                        <div class="shop-card__icon">
                            <img src="img/shop-card/shop-card-icon-1.svg" alt="" class="shop-card__img">
                        </div>
                        <h3 class="shop-card__name text text--normal text--white text--w-regular">
                            Уборка сосулек и наледи
                        </h3>
                        <div class="shop-card__quantity">
                            <input type="number" min="1" max="9999999" value="" name="shop-card-quantity" class="shop-card__field" placeholder="1 пог.м.">
                            <input type="range" min="1" max="9999999" value="1" class="shop-card__range" id="myRange">
                        </div>
                        <div class="shop-card__price text text--white text--w-bold">
                            9 999 999 руб.
                        </div>
                        <div class="shop-card__action">
                            <a href="javascript:;" class="button button--basket">
                                <svg width="39" height="28" viewBox="0 0 39 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1H6.27939C7.47915 1 8.56354 1.71481 9.03648 2.81743L9.72386 4.42M14.7222 16.0733H32.4542C33.6951 16.0733 34.808 15.3093 35.2539 14.1511L37.4302 8.49779C38.1867 6.53265 36.7362 4.42 34.6305 4.42H9.72386M14.7222 16.0733L9.72386 4.42M14.7222 16.0733L15.4492 18.0401C15.8845 19.2179 17.0074 20 18.2631 20H33.8542" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                    <circle cx="20" cy="25" r="2" stroke="white" stroke-width="2"/>
                                    <circle cx="30" cy="25" r="2" stroke="white" stroke-width="2"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- /. Shop-card -->
                    <!-- Shop-card -->
                    <div class="shop-card shop-card--basket">
                        <div class="shop-card__icon">
                            <img src="img/shop-card/shop-card-icon-1.svg" alt="" class="shop-card__img">
                        </div>
                        <h3 class="shop-card__name text text--normal text--white text--w-regular">
                            Уборка сосулек и наледи
                        </h3>
                        <div class="shop-card__quantity">
                            <input type="number" min="1" max="9999999" value="" name="shop-card-quantity" class="shop-card__field" placeholder="1 пог.м.">
                            <input type="range" min="1" max="9999999" value="1" class="shop-card__range" id="myRange">
                        </div>
                        <div class="shop-card__price text text--white text--w-bold">
                            9 999 999 руб.
                        </div>
                        <div class="shop-card__action">
                            <a href="javascript:;" class="button button--basket">
                                <svg width="39" height="28" viewBox="0 0 39 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1H6.27939C7.47915 1 8.56354 1.71481 9.03648 2.81743L9.72386 4.42M14.7222 16.0733H32.4542C33.6951 16.0733 34.808 15.3093 35.2539 14.1511L37.4302 8.49779C38.1867 6.53265 36.7362 4.42 34.6305 4.42H9.72386M14.7222 16.0733L9.72386 4.42M14.7222 16.0733L15.4492 18.0401C15.8845 19.2179 17.0074 20 18.2631 20H33.8542" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                    <circle cx="20" cy="25" r="2" stroke="white" stroke-width="2"/>
                                    <circle cx="30" cy="25" r="2" stroke="white" stroke-width="2"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- /. Shop-card -->
                    <!-- Shop-card -->
                    <div class="shop-card shop-card--basket">
                        <div class="shop-card__icon">
                            <img src="img/shop-card/shop-card-icon-1.svg" alt="" class="shop-card__img">
                        </div>
                        <h3 class="shop-card__name text text--normal text--white text--w-regular">
                            Уборка сосулек и наледи
                        </h3>
                        <div class="shop-card__quantity">
                            <input type="number" min="1" max="9999999" value="" name="shop-card-quantity" class="shop-card__field" placeholder="1 пог.м.">
                            <input type="range" min="1" max="9999999" value="1" class="shop-card__range" id="myRange">
                        </div>
                        <div class="shop-card__price text text--white text--w-bold">
                            9 999 999 руб.
                        </div>
                        <div class="shop-card__action">
                            <a href="javascript:;" class="button button--basket">
                                <svg width="39" height="28" viewBox="0 0 39 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1H6.27939C7.47915 1 8.56354 1.71481 9.03648 2.81743L9.72386 4.42M14.7222 16.0733H32.4542C33.6951 16.0733 34.808 15.3093 35.2539 14.1511L37.4302 8.49779C38.1867 6.53265 36.7362 4.42 34.6305 4.42H9.72386M14.7222 16.0733L9.72386 4.42M14.7222 16.0733L15.4492 18.0401C15.8845 19.2179 17.0074 20 18.2631 20H33.8542" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                    <circle cx="20" cy="25" r="2" stroke="white" stroke-width="2"/>
                                    <circle cx="30" cy="25" r="2" stroke="white" stroke-width="2"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- /. Shop-card -->
                    <!-- Shop-card -->
                    <div class="shop-card shop-card--basket">
                        <div class="shop-card__icon">
                            <img src="img/shop-card/shop-card-icon-1.svg" alt="" class="shop-card__img">
                        </div>
                        <h3 class="shop-card__name text text--normal text--white text--w-regular">
                            Уборка сосулек и наледи
                        </h3>
                        <div class="shop-card__quantity">
                            <input type="number" min="1" max="9999999" value="" name="shop-card-quantity" class="shop-card__field" placeholder="1 пог.м.">
                            <input type="range" min="1" max="9999999" value="1" class="shop-card__range" id="myRange">
                        </div>
                        <div class="shop-card__price text text--white text--w-bold">
                            9 999 999 руб.
                        </div>
                        <div class="shop-card__action">
                            <a href="javascript:;" class="button button--basket">
                                <svg width="39" height="28" viewBox="0 0 39 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1H6.27939C7.47915 1 8.56354 1.71481 9.03648 2.81743L9.72386 4.42M14.7222 16.0733H32.4542C33.6951 16.0733 34.808 15.3093 35.2539 14.1511L37.4302 8.49779C38.1867 6.53265 36.7362 4.42 34.6305 4.42H9.72386M14.7222 16.0733L9.72386 4.42M14.7222 16.0733L15.4492 18.0401C15.8845 19.2179 17.0074 20 18.2631 20H33.8542" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                    <circle cx="20" cy="25" r="2" stroke="white" stroke-width="2"/>
                                    <circle cx="30" cy="25" r="2" stroke="white" stroke-width="2"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- /. Shop-card -->

                </div>

            </div>
        </div>
    </section>
    <!-- /. Services-store -->

</main>
<!-- /. MAIN -->

{% include "partials/_footer.html" %}