{% include "partials/_header.html" %}

<!-- MAIN -->
<main class="main page__container bg--black-gray-hight">

    <!-- Main-screen -->
    <section class="main-screen main-screen--store">
        <div class="main-screen__vector main-screen__vector--store js-reveal a-reveal-top">
            <div class="main-screen__inner container">
                <div class="main-screen__text main-screen__text--store">
                    <h1 class="main-screen__heading title title--white title--big title--uppercase title--w-black js-reveal a-reveal-opacity">
                        СТРОЙМОНТАЖКОНСАЛТИНГ
                    </h1>
                    <p class="main-screen__subtitle text text--white text--large text-w-regular js-reveal a-reveal-opacity">
                        Мы с Вами на площадке, мы слушаем Вас и помогаем найти оптимальные решения!
                    </p>
                </div>
            </div>   
        </div>
    </section>
    <!-- /. Main-screen -->

    <!-- Checkout -->
    <section class="checkout-page">
        <div class="checkout-page__body container">
            <h2 class="checkout-page__heading title title--orange title--large title--uppercase title--w-black title--indent js-reveal a-reveal">
                Детали оплаты
            </h2>
            <div class="checkout-page__container">

                <!-- Checkout-form -->
                <form action="" class="checkout-form checkout woocommerce-checkout bg--dark" name="checkout" method="post" enctype="multipart/form-data">

                    <div class="checkout-form__customer-details" id="customer_details">
                        <div class="checkout-form__billing-fields woocommerce-billing-fields__field-wrapper">
                            <div class="checkout-form__field form-row">
                                <label for="billing_first_name_field">
                                    Имя <abbr title="обязательно" class="required">*</abbr>
                                </label>
                                <span class="woocommerce-input-wrapper">
                                    <input type="text" class="checkout-form__input input-text" placeholder="Иван">
                                </span>
                            </div>
                            <div class="checkout-form__field form-row">
                                <label for="billing_first_name_field">
                                    Фамилия <abbr title="обязательно" class="required">*</abbr>
                                </label>
                                <span class="woocommerce-input-wrapper">
                                    <input type="text" class="checkout-form__input input-text" placeholder="Иванов">
                                </span>
                            </div>
                            <div class="checkout-form__field form-row">
                                <label for="billing_first_name_field">
                                    Адрес <abbr title="обязательно" class="required">*</abbr>
                                </label>
                                <span class="woocommerce-input-wrapper">
                                    <input type="text" class="checkout-form__input input-text" placeholder="Улица, номер дома и т.д.">
                                </span>
                            </div>
                            <div class="checkout-form__field form-row">
                                <label for="billing_first_name_field">
                                    Населённый пункт <abbr title="обязательно" class="required">*</abbr>
                                </label>
                                <span class="woocommerce-input-wrapper">
                                    <input type="text" class="checkout-form__input input-text" placeholder="г. Москва">
                                </span>
                            </div>
                            <div class="checkout-form__field form-row">
                                <label for="billing_first_name_field">
                                    Область / район <abbr title="обязательно" class="required">*</abbr>
                                </label>
                                <span class="woocommerce-input-wrapper">
                                    <input type="text" class="checkout-form__input input-text" placeholder="Московская обл.">
                                </span>
                            </div>
                            <div class="checkout-form__field form-row">
                                <label for="billing_first_name_field">
                                    Почтовый индекс <abbr title="обязательно" class="required">*</abbr>
                                </label>
                                <span class="woocommerce-input-wrapper">
                                    <input type="text" class="checkout-form__input input-text" placeholder="000000">
                                </span>
                            </div>
                            <div class="checkout-form__field form-row">
                                <label for="billing_first_name_field">
                                    Телефон <abbr title="обязательно" class="required">*</abbr>
                                </label>
                                <span class="woocommerce-input-wrapper">
                                    <input type="text" class="checkout-form__input input-text" placeholder="+7 (999) 999 99 99">
                                </span>
                            </div>
                            <div class="checkout-form__field form-row">
                                <label for="billing_first_name_field">
                                    Email  <abbr title="обязательно" class="required">*</abbr>
                                </label>
                                <span class="woocommerce-input-wrapper">
                                    <input type="text" class="checkout-form__input input-text" placeholder="ivanov-ivan@mail.ru">
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="checkout-form__order-review woocommerce-checkout-review-order" id="order_review">
                        <h2 class="checkout-form__order-title title title--black-gray title--large title--uppercase title--w-black">
                            Ваш заказ
                        </h2>
                        <div class="checkout-form__order-table">
                            <div class="checkout-form__product-row checkout-form__product-row--first">
                                <div class="checkout-form__table-title text text--black-gray text--normal text--w-bold">
                                    Товар
                                </div>
                            </div>
                            <div class="checkout-form__product-row">
                                <div class="checkout-form__product-name text text--black-gray text--normal text--w-regular">
                                    Название товара <span class="checkout-form__product-quantity">× 1</span>
                                </div>
                                <div class="checkout-form__product-price text text--black-gray text--normal text--w-regular">
                                    9 999 999 ₽
                                </div>
                            </div>
                            <div class="checkout-form__product-row">
                                <div class="checkout-form__product-name text text--black-gray text--normal text--w-regular">
                                    Название товара <span class="checkout-form__product-quantity">× 14</span>
                                </div>
                                <div class="checkout-form__product-price text text--black-gray text--normal text--w-regular">
                                    9 999 999 ₽
                                </div>
                            </div>
                            <div class="checkout-form__product-row">
                                <div class="checkout-form__product-name text text--black-gray text--normal text--w-regular">
                                    Название товара <span class="checkout-form__product-quantity">× 8</span> 
                                </div>
                                <div class="checkout-form__product-price text text--black-gray text--normal text--w-regular">
                                    9 999 999 ₽
                                </div>
                            </div>
                            <div class="checkout-form__product-row checkout-form__product-row--last">
                                <div class="checkout-form__table-title text text--black-gray text--normal text--w-regular">
                                    Итого: 
                                </div>
                                <div class="checkout-form__table-subtotal text text--black-gray text--normal text--w-bold">
                                    9 999 999 ₽
                                </div>
                            </div>
                        </div>
                        <div class="checkout-form__pay-info woocommerce-checkout-payment" id="payment">
                            <div class="checkout-form__pay-text text text--gray-hight text--tiny text--w-regular">
                                Текст с видом и условиями оплаты, дополнительная информация о платежных системах. Текст с видом и условиями оплаты, дополнительная информация о платежных системах
                            </div>
                            <div class="checkout-form__pay-carts">
                                <div class="checkout-form__pay-icon">
                                    <img src="img/checkout/maestro.svg" alt="" class="checkout-form__pay-img">
                                </div>
                                <div class="checkout-form__pay-icon">
                                    <img src="img/checkout/master-card.svg" alt="" class="checkout-form__pay-img">
                                </div>
                                <div class="checkout-form__pay-icon">
                                    <img src="img/checkout/visa.svg" alt="" class="checkout-form__pay-img">
                                </div>
                                <div class="checkout-form__pay-icon">
                                    <img src="img/checkout/google-pay.svg" alt="" class="checkout-form__pay-img">
                                </div>
                                <div class="checkout-form__pay-icon">
                                    <img src="img/checkout/alfa-bank.svg" alt="" class="checkout-form__pay-img">
                                </div>
                                <div class="checkout-form__pay-icon">
                                    <img src="img/checkout/tinkoff.svg" alt="" class="checkout-form__pay-img">
                                </div>
                            </div>
                            <div class="checkout-form__pay-method wc_payment_methods payment_methods methods">
                                <div class="checkout-form__notice woocommerce-notice woocommerce-notice--info woocommerce-info text text--black-gray text--normal text--w-bold">
                                    К сожалению, у нас не предусмотрены методы оплаты, подходящие для вашего региона. Пожалуйста, свяжитесь с нами если вам необходима консультация или специальные условия.
                                </div>
                            </div>
                            <div class="checkout-form__pay-actions form-row place-order">
                                <noscript>
                                    Поскольку ваш браузер не поддерживает JavaScript или в нем он отключен, просим убедиться в том, что вы нажали кнопку <em>Обновить итог</em> перед регистрацией заказа. Иначе, есть риск неправильного подсчета стоимости.
                                    <br/>
                                    <button type="submit" class="button button--yellow alt" name="woocommerce_checkout_update_totals" value="Обновить итог">Обновить итог</button>
                                </noscript>
                                <div class="checkout-form__pay-policy woocommerce-terms-and-conditions-wrapper text text--gray-hight text--tiny text--w-regular">
                                    <p>
                                        Ваши личные данные будут использоваться для обработки ваших заказов, 
                                        упрощения вашей работы с сайтом и для других целей, 
                                        описанных в нашей <a href="" class="woocommerce-privacy-policy-link">политике конфидециальности.</a> 
                                    </p>
                                </div>
                                <button type="submit" class="button button--yellow alt" name="woocommerce_checkout_place_order" id="place_order" value="" data-value="">
                                    Подтвердить заказ
                                </button>
                            </div>
                        </div>
                    </div>
            
                </form>
                <!-- /. Checkout-form -->

            </div>
        </div>
    </section>
    <!-- /. Checkout -->

</main>
<!-- /. MAIN -->

{% include "partials/_footer.html" %}