.customer-details {
    padding: 0 30px 40px 30px;
    @include mobileXS-block {
        padding: 0 15px 30px 15px;
    }
}

.customer-details__address {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}

.customer-details__info {
    display: flex;
    justify-content: space-between;
}

.customer-details__info ~ .customer-details__info {
    margin-top: 20px;
}

.customer-details__info-title {
    margin-right: 15px;
}