@keyframes zoomIn {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes unfoldIn {
    0% {
        transform: scaleY(.005) scaleX(0);
    }
    50% {
        transform: scaleY(.005) scaleX(1);
    }
    100% {
        transform: scaleY(1) scaleX(1);
    }
}

@keyframes unfoldOut {
    0% {
      transform: scaleY(1) scaleX(1);
    }
    50% {
      transform: scaleY(.005) scaleX(1);
    }
    100% {
      transform: scaleY(.005) scaleX(0);
    }
}

@keyframes zoomOut {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      transform: translate(-50%, -50%) scale(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -100%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -100%);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.a-reveal {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
    transition: transform ease-in-out 0.5s .5s, opacity 0.5s ease-in-out .5s;
    &.is-revealed {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

.a-reveal-header {
    transform: translate3d(0, -100px, 0) translateX(-50%);
    opacity: 0;
    transition: transform ease-in-out 0.5s .5s, opacity 0.5s ease-in-out .5s;
    &.is-revealed {
        transform: translate3d(0,0,0) translateX(-50%);
        opacity: 1;
    }
}

.a-reveal-top {
    transform: translate3d(0, -100px, 0);
    opacity: 0;
    transition: transform ease-in-out 0.5s 1s, opacity 0.5s ease-in-out 1s;
    &.is-revealed {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

.a-reveal-element {
    transform: translate3d(0, -50px, 0);
    opacity: 0;
    transition: transform ease-out 0.5s 1.3s, opacity 0.5s ease-out 1.3s;
    &.is-revealed {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

.a-reveal-opacity {
    opacity: 0;
    transition: opacity 0.5s ease-out 1.3s;
    &.is-revealed {
        opacity: 1;
    }
}

.a-reveal-scale {
    transform: scale(0);
    opacity: 0;
    transition: transform ease-in-out 0.5s, opacity 0.5s ease-in-out;
    &.is-revealed {
        transform: scale(1);
        opacity: 1;
    }
}