/* Containers */

.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

/* Hide */

.hide {
    display: none !important;
}

.hide-medium {
	@include medium(display, none !important);
}

.hide-tablet {
	@include tablet(display, none !important);
}

.hide-mobile {
	@include mobile(display, none !important);
}

/* Position */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Background */

.bg {
    &--white {
        background-color: var(--color-white);
    }
    &--dark {
        background-color: var(--color-dark);
    }
}

/* Title */

.title {
    font-family: var(--font-gotham);
    font-style: normal;
    margin: 0;
    &--big {
		font-size: 45px;
    }
    &--large {
        font-size: 26px;
    }
    &--medium {
        font-size: 22px;
    }
    &--orange {
        color: var(--color-orange);
    }
    &--white {
        color: var(--color-white);
	}
	&--w-light {
		font-weight: 300;
    }
    &--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: bold;
	}
	&--w-black {
		font-weight: 900;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

/* Text */

.text {
    font-family: var(--font-roboto);
    font-style: normal;
    margin: 0;
	&--black-gray {
		color: var(--color-black-gray); 
	}
	&--orange {
		color: var(--color-orange);
	}
	&--white {
		color: var(--color-white);
	}
	&--s-normal {
		font-size: 16px;
	}
	&--w-light {
		font-weight: 300;
	}
	&--w-regular {
		font-weight: normal;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: 700;
    }
	&--w-black {
		font-weight: 900;
    }
    &--italic {
        font-style: italic;
    }
}