:root {
    --color-orange: #FF9D00;
    --color-yellow: #FFD600;
    --color-dark: #595959;
    --color-black-gray: #2C2B33;
	--color-gray: #EFEFEF;
	--color-white: #FFFFFF;
    --gradien-dark: linear-gradient(180deg, rgba(89, 89, 89, 0.75) -22.17%, rgba(44, 43, 51, 0.75) 122.17%);
    --font-roboto: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-gotham: "GothamPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}