:root {
    --color-orange: #FF9D00;
    --color-dark: #595959;
    --color-black-gray: #2C2B33;
	--color-gray: #EFEFEF;
	--color-white: #FFFFFF;
    --font-roboto: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-gotham: "GothamPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}