.services-store {
    padding-top: 30px;
}

.services-store.services-store--archive {
    padding-bottom: 100px;
}

.services-store.services-store--bascket {
    @include tablet-block {
        padding-bottom: 50px;
    }
}

.services-store__container.services-store__container--archive,
.services-store__container.services-store__container--basket {
    display: grid;
}

.services-store__container.services-store__container--archive {
    grid-template-columns: 402px 1fr;
    grid-gap: 20px;
    grid-template-areas: 
        "sidebar shops-cards";
    @include to(1366px) {
        grid-template-columns: 360px 1fr;
    }
    @include large-block {
        grid-template-columns: 320px 1fr;
    }
    @include mobile-block {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "sidebar"
            "shops-cards";
    }
}

.services-store__container .sidebar--archive {
    grid-area: sidebar;
}

.services-store__container .services-store__shop-cards--archive {
    grid-area: shops-cards;
}

.services-store__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 20px;
    @include mobile-block {
        flex-direction: column;
    }
}

.services-store__buttons {
    display: flex;
    @include mobile-block {
        flex-direction: column;
    }
}

.services-store__btn {
    display: inline-flex;
    align-items: center;
}

.services-store__btn ~ .services-store__btn {
    margin-left: 50px;
    @include tablet-block {
        margin-left: 25px;
    }
    @include mobile-block {
        margin-top: 15px;
        margin-left: 0px;
    }
}

.services-store__img-btn {
    display: block;
}

.services-store__name-btn {
    margin-left: 15px;
}

.services-store__subtotal {
    @include mobile-block {
        margin-top: 15px;
    }
}

.services-store__ordering {
    display: flex;
    justify-content: flex-end;
    @include mobile-block {
        justify-content: center;
    }
}

.services-store__order {
    margin-top: 15px;
}

.services-store__subtotal-price {
    font-size: responsive 24px 38px;
    font-range: 1024px 1440px;
    margin-left: 20px;
}