.modal {
    display: none;
    background-color: transparent;
    overflow-y: hidden;
    transform: scale(0);
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal.is-open {
    display: block;
    position: fixed;
    transform: scaleY(.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.modal.is-open .modal__body {
    transform: scale(0);
    animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.modal.is-out {
    display: block;
    position: fixed;
    transform: scale(1);
    animation: unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.modal.is-out .modal__body {
    animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.modal__body {
    @include mobileXL-block {
        padding: 16px 15px 30px;
        max-width: 320px;
    }
    @include mobileXL(max-width, 300px);
    position: absolute;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // align-content: stretch;
    max-width: 630px;
    width: 100%;
    background: linear-gradient(180deg, rgba(89, 89, 89, 0.75) -22.17%, rgba(44, 43, 51, 0.75) 122.17%);
    border: 1px solid rgba(255, 255, 255, 0.35);
    padding: 42px 34px 42px;
    top: 50%;
    left: 50%;
    box-shadow: 20px 20px 38px #2C2B33;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.modal__close {
    @include mobile-block {
        top: 5px;
        right: 5px;
        border: 1px solid var(--color-white);
    }
    display: inline-block;
    position: absolute;
    right: -20px;
    top: -20px;
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.modal__close-svg {
    width: 12px;
    height: 12px;
    fill: var(--color-white);
}

.modal__header {
    margin-bottom: 20px;
    text-align: center;
}

.modal__form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.modal__field ~ .modal__field {
    margin-top: 25px;
}

.modal__input {
    width: 100%;
    max-width: 400px;
    padding: 17px;
    border: none;
    color: var(--color-dark);
    border-radius: 50px;
}

.modal__agree-text {
    margin-top: 18px;
}

.modal__agree-text .wpcf7-acceptance .wpcf7-list-item {
    font-family: var(--font-roboto);
    font-size: 12px;
    font-weight: 400;
    color: var(--color-white);
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.modal__agree-text .wpcf7-acceptance label {
    position: relative;
    display: flex;
    align-items: center;
}

.modal__checkbox--agree {
    margin-right: 25px;
    position: relative;
    z-index: -1;
    opacity: 0;
}

.modal__agree-text .wpcf7-acceptance label>span::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    border: 2px solid var(--color-white);
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.modal__agree-text .wpcf7-acceptance label > span:hover::before {
    border: 2px solid var(--color-orange);
}

.wpcf7-acceptance label > .modal__checkbox--agree:focus + span::before {
    border: 2px solid var(--color-orange);
}

.wpcf7-acceptance label > .modal__checkbox--agree:focus:not(:checked) + span::before {
    border: 2px solid var(--color-orange);
}

.wpcf7-acceptance label > .modal__checkbox--agree:disabled + span::before {
    border: 2px solid var(--color-gray);
}

.wpcf7-acceptance label > .modal__checkbox--agree:checked + span::before{
    border: 2px solid var(--color-orange);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNyAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeDE9IjEuMjQxNTMiIHkxPSI0LjQxNDk2IiB4Mj0iNy43OTExNSIgeTI9IjEwLjk2NDYiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIvPgo8bGluZSB4MT0iNi4zNzY4OCIgeTE9IjEwLjk2NDUiIHgyPSIxNi4yMDEzIiB5Mj0iMS4xNDAxIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==");
}

.modal__actions {
    margin-top: 30px;
    text-align: center;
}

.modal__btn {
    padding: 10px 53px;
    cursor: pointer;
}