.footer {
    background-image: url('../img/footer-bg.png');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 278px;
    width: 100%;
    padding-top: 100px;
    margin-top: auto;
    @include tablet-block {
        background: var(--color-orange);
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.footer__body {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    @include tablet-block {
        justify-content: center;
    }
}

.footer__logo {
    margin: 0 0 0 37px;
    @include tablet-block {
        margin: 0;
    }
    @include mobile-block {
        width: 70px;
    }
}

.footer__inner {
    margin-left: 200px;
    @include tablet(margin-left, 0);
}

.footer__menu {
    margin-top: 28px;
    @include to(1440px) {
        margin-top: 30px;
    }
    @include tablet-block {
        margin-top: 0;
        margin-left: 60px;
    }
}

.footer__menu .menu__list {
    @include tablet-block {
        flex-direction: column;
    }
    @include mobile-block {
        flex-direction: column;
    }
}

.footer__menu .menu__item ~ .menu__item {
    @include tablet-block {
        margin-left: 0;
        margin-top: 15px;
    }
    @include mobile-block {
        margin-left: 0;
        margin-top: 10px;
    }
}

.footer__wrapper-text {
    display: none;
    @include tablet-block {
        display: flex;
        justify-content: center;
    }
}

.footer__text {
    margin-top: 20px;
    @include tablet-block {
        text-align: center;
        margin-top: 20px;
    }
}

.footer__inner .footer__text {
    @include tablet-block {
        display: none;
    }
}

.footer__descr {
    margin-top: 15px;
    font-size: responsive 8px 12px;
    font-range: 320px 768px;
}

.footer__social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 28px;
    text-decoration: none;
    color: var(--color-black-gray);
    @include to(1440px) {
        margin-top: 30px;
    }
    @include tablet-block {
        align-items: center;
        width: 100%;
    }
}

.footer__social-icons {
    margin-top: 10px;
}

.footer__social-icon {
    display: inline-block;
    text-decoration: none;
}

.footer__social-icon ~ .footer__social-icon {
    margin-left: 5px;
}

.footer__links {
    margin-top: 15px;
    display: flex;
    @include tablet-block {
        margin-top: 30px;
    }
}

.footer__links--lg {
    @include tablet-block {
        display: none;
    }
}

.footer__links--mobile {
    display: none;
    @include tablet-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer__link-page {
    text-decoration: none;
    transition: ease .3s;
}

.footer__link-page:hover {
    color: var(--color-white);
}

.footer__link-page ~ .footer__link-page {
    margin-left: 15px;
    @include tablet-block {
        margin-left: 0;
        margin-top: 15px;
    }
}