.header {
    position: fixed;
    background: url('../img/header-bg.png') center left no-repeat;
    background-size: cover;
    height: 175px;
    width: 100%;
    z-index: 999;
}

.header__body {
    display: flex;
    justify-content: space-between;
}

// .header__menu {
//     margin: 0 auto 0 auto;
// }

.header__menu-list {
    display: flex;
}

// .header__bg {
//     background: url('../img/header-bg.png') center left no-repeat;
//     background-size: cover;
//     width: 100%;
//     height: 175px;
// }