.services-slider {
    padding: 30px 0 30px;
}

.services-slider__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet-block {
        flex-direction: column;
        align-items: flex-start;
    }
}

.services-slider__heading {
    margin: 0 0 0 50px;
    @include tablet(margin, 0 0 0 15px);
    @include mobile(margin, 0 0 0 0);
}

.services-slider__nav {
    @include tablet-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 30px;
    }
}

.services-slider__arrow {
    cursor: pointer;
}

.services-slider__arrow:hover .services-slider__arrow-text {
    color: var(--color-orange);
}

.services-slider__arrow--prev {
    display: none;
    transform: rotate(180deg);
    @include tablet-block {
        display: block;
    }
}

.services-slider__arrow--next {
    display: flex;
    align-items: center;
}

.services-slider__arrow-svg--next {
    margin-top: 2px;
}

.services-slider__arrow-text {
    margin-right: 30px;
    transition: ease .3s;
}

.services-slider__swiper {
    margin-top: 50px;
    @include tablet(margin-top, 20px);
}

.services-slider__swiper.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.services-slider__wrapper {
    overflow: visible;
}

.services-slider__slide.swiper-slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.services-slider__card {
    position: relative;
    background: linear-gradient(180deg, rgba(89, 89, 89, 0.75) -22.17%, rgba(44, 43, 51, 0.75) 122.17%);
    border: 1px solid rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 32px 41px 21px 41px;
    height: 300px;
    max-height: 300px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: ease .3s background;
    cursor: pointer;
    @include to(1280px) {
        padding: 32px 20px 21px 20px;
    }
    @include tablet-block {
        padding: 15px 17px 10px 17px;
    }
    @include mobile-block {
        height: 150px;
        padding: 15px 19px 10px 19px;
    }
}

.services-slider__card:hover {
    background: rgba(255, 157, 0, 0.75);
}

.services-slider__illustration {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.services-slider__illustration-img {
    @include mobile-block {
        height: 100px;
    }
}

.services-slider__icon {
    text-align: left;
    align-self: flex-start;
}

.services-slider__icon-img {
    display: block;
    @include mobile-block {
        height: 33px;
        object-fit: cover;
    }
}

.services-slider__text {
    align-self: flex-start;
    line-height: 1;
    @include tablet-block {
        font-size: responsive 10px 18px;
        font-range: 320px 1024px;
    }
}

.services-slider__action--inner {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.services-slider__action .button {
    @include mobile-block {
        font-size: 9px;
        width: 100%;
        max-width: 104px;
    }
}

.services-slider__action .button--trs {
    @include mobile-block {
        padding: 2px 6px;
    }
}

.services-slider__action .button--yellow {
    box-shadow: none;
    @include tablet-block {
        padding: 13px 9px 13px 9px;
    }
    @include mobile-block {
        padding: 1px 6px;
    }
}

.services-slider__action--outer {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    @include tablet-block {
        padding: 0 18px 0 18px;
    }
    @include mobile-block {
        padding: 0 19px 0 19px;
    }
    @include mobile(margin-top, 10px)
}