.woocommerce-notices-wrapper {
    display: none;
}

.services-store.services-store--bascket .woocommerce-notices-wrapper {
    display: block;
}

.woocommerce-info {
    width: 100%;
    padding: 20px;
}

.woocommerce-info.cart-empty {
    margin-top: 8%;
    text-align: center;
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: responsive 20px 24px;
    font-range: 1024px 1440px;
    color: var(--color-white);
    @include mobile-block{
        margin-top: 15%;
    }
}

.return-to-shop {
    text-align: center;
}

.return-to-shop:hover {
    color: var(--color-orange);
}
.woocommerce-message.services-store__message {
    background: var(--color-dark);
}
.woocommerce-message.services-store__message .services-store__notice{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    @include mobile-block {
        flex-direction: column;
    }
}

.restore-item {
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    color: var(--color-white);
    max-width: 217px;
    width: 100%;
    z-index: 10;
    border-radius: 50px;
    transition: .3s;
    font-family: var(--font-gotham);
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    padding: 13px 23px;
    background: var(--color-orange);
    border: 1px solid var(--color-yellow);
    box-shadow: 9px 9px 18px rgba(10, 40, 53, 0.15), inset 0px 4px 24px rgba(255, 255, 255, 0.33);
    backdrop-filter: blur(20px);
    margin-left: 30px;
    @include mobile-block {
        margin-left: 0;
        margin-top: 20px;
    }
}

.restore-item:hover {
    background: var(--color-orange-hight);
}