.woocommerce-notices-wrapper {
    display: none;
}

.woocommerce-info {
    width: 100%;
    padding: 20px;
}

.woocommerce-info.cart-empty {
    margin-top: 20%;
    text-align: center;
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: responsive 20px 24px;
    font-range: 1024px 1440px;
    color: var(--color-white);
    @include mobile-block{
        margin-top: 30%;
    }
}

.return-to-shop {
    text-align: center;
}

.return-to-shop:hover {
    color: var(--color-orange);
}