.shop-card {
    background: var(--color-black-gray-hight);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.shop-card.shop-card--archive {
    grid-template-columns: minmax(0, 103px) minmax(0, 372px) minmax(200px, 1fr) minmax(120px,1fr) minmax(160px, 1fr);
    @include to(1366px){
        grid-template-columns: minmax(0, 103px) 1fr 1fr 1fr 1fr;
        grid-template-areas: "icon name name quantity price"
                             "icon name name quantity action";
    }
    @include mobileXS-block {
        height: auto;
        grid-template-rows: 100px 50px 50px;
        grid-template-columns: minmax(0, 70px) minmax(0, 130px) minmax(140px, 1fr);
        grid-template-areas: "icon name name"
                             "quantity quantity price"
                             "quantity quantity action";
    }
}

.shop-card.shop-card--archive .shop-card__icon {
    @include to(1366px){
        grid-area: icon;
        padding: 10px 20px;
    }
    @include mobileXS-block {
        padding: 15px 10px;
        background: transparent;
    }
}
.shop-card.shop-card--archive .shop-card__name {
    @include to(1366px){
        grid-area: name;
    }
    @include mobileXS-block {
        padding: 5px 10px;
    }
}
.shop-card.shop-card--archive .shop-card__quantity {
    @include to(1366px){
        grid-area: quantity;
        padding: 5px 12px;
    }
    @include mobileXS-block {
        padding: 21px 20px
    }
}
.shop-card.shop-card--archive .shop-card__price {
    @include to(1366px){
        grid-area: price;
        padding: 5px;
    }
    @include mobileXS-block {
        background: rgba(255, 255, 255, 0.1);
    }
}
.shop-card.shop-card--archive .shop-card__action {
    @include to(1366px){
        grid-area: action;
        background: rgba(255, 255, 255, 0.2);
        padding: 0 5px 5px 5px;
    }
    @include mobileXS-block {
        background: rgba(255, 255, 255, 0.1);
    }
}

.shop-card.shop-card--basket {
    grid-template-columns: minmax(0, 133px) minmax(0, 1fr) minmax(0, 227px) minmax(0,208px) minmax(0, 94px);
    @include tabletSM-block {
        height: auto;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: minmax(0, 103px) minmax(0, 1fr) minmax(0, 227px) minmax(0,180px) minmax(0, 200px);
        grid-template-areas: "icon name name quantity price"
                             "icon name name quantity action";
    }
    @include mobileXS-block {
        grid-template-rows: 100px 50px 50px;
        grid-template-columns: minmax(0, 70px) minmax(0, 140px) minmax(130px, 1fr);
        grid-template-areas: "icon name name"
                             "quantity quantity price"
                             "quantity quantity action";
    }
}

.shop-card.shop-card--basket .shop-card__icon {
    @include tabletSM-block{
        grid-area: icon;
        padding: 15px 10px;
    }
    @include mobile-block {
        background: transparent;
    }
}
.shop-card.shop-card--basket .shop-card__name {
    @include tabletSM-block{
        grid-area: name;
    }
    @include mobile-block {
        padding: 5px 10px;
    }
}
.shop-card.shop-card--basket .shop-card__quantity {
    @include tabletSM-block{
        grid-area: quantity;
        background:rgba(255, 255, 255, 0.1);
    }
}
.shop-card.shop-card--basket .shop-card__price {
    @include tabletSM-block{
        grid-area: price;
        background: transparent;
    }
    @include mobile-block {
        background:rgba(255, 255, 255, 0.1);
        padding: 10px 5px 5px 0;
    }
}
.shop-card.shop-card--basket .shop-card__action {
    @include tabletSM-block{
        grid-area: action;
        background: transparent;
    }
    @include mobile-block {
        background:rgba(255, 255, 255, 0.1);
        padding: 0 5px 5px 5px;
    }
}

.shop-card:first-child {
    border-radius: 20px 20px 0 0;
}

.shop-card:last-child {
    border-bottom: none;
    border-radius: 0 0 20px 20px;
}

.shop-card__img {
    display: block;
}

.shop-card__icon,
.shop-card__quantity {
    background: rgba(255, 255, 255, 0.1);
}

.shop-card__name,
.shop-card__action {
    background: var(--color-black-gray-hight);
}

.shop-card__price {
    font-size: 18px;
    background: rgba(255, 255, 255, 0.2);
}

.shop-card__icon,
.shop-card__action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-card__name {
    display: inline-flex;
    align-items: center;
    padding: 5px 25px;
    @include tablet-block {
        padding: 5px 10px;
    }
}

.shop-card__quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
    @include tabletSM-block {
        padding: 21px 20px;
    }
}

.shop-card__number {
    position: relative;
    max-width: 109px;
    width: 100%;
    @include tabletSM-block {
        max-width: 109px;
    }
    @include mobileXS-block {
        max-width: 120px;
    }
    @include mobileXSS-block {
        max-width: 100px;
    }
}

.shop-card__arrow {
    position: absolute;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid var(--color-white);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-card__arrow:active {
    border: 1px solid var(--color-orange);
    width: 20px;
    height: 20px;
}

.shop-card__arrow--minus {
    left: -35px;
    @include tabletSM-block {
        left: -28px;
    }
}

.shop-card__arrow--plus {
    right: -35px;
    @include tabletSM-block {
        right: -28px;
    }
}

.shop-card.shop-card--archive .shop-card__arrow {
    @include tablet-block {
        top: auto;
        transform: none;
        bottom: -27px;
    }
    @include mobileXS-block {
        top: 50%;
        transform: translateY(-50%);
        bottom: auto;
    }
}

.shop-card.shop-card--archive .shop-card__arrow--minus {
    @include to(1366px){
        left: -28px;
    }
    @include to(1200px){
        left: -23px;
    }
    @include tablet-block {
        left: 20px;
    }
    @include mobileXS-block {
        left: -30px;
    }
    @include mobileXSS-block {
        left: -27px;
    }
}

.shop-card.shop-card--archive .shop-card__arrow--plus {
    @include to(1200px){
        right: -28px;
    }
    @include to(1200px){
        right: -23px;
    }
    @include tablet-block {
        right: 20px;
    }
    @include mobileXS-block {
        right: -30px;
    }
    @include mobileXSS-block {
        right: -27px;
    }
}

.shop-card__field {
    border-radius: 50px;
    background: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    padding: 10px 4px;
    outline: 0;
    text-align: center;
}

.shop-card__field:focus,
.shop-card__field:target,
.shop-card__field:hover,
.shop-card__field:active {
    border: 1px solid var(--color-orange);
}

.shop-card__field,
.shop-card__range {
    max-width: 109px;
    width: 100%;
    @include tabletSM-block {
        max-width: 200px;
    }
}

.shop-card__field[type="number"]::-webkit-outer-spin-button,
.shop-card__field[type="number"]::-webkit-inner-spin-button,
.shop-card__field[type="number"]:hover,
.shop-card__field[type="number"]:focus,
.shop-card__field[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    -moz-appearance: number-input;
    margin: 0;
}

.shop-card__field::placeholder {
    color: var(--color-white);
}

.shop-card__options {
    margin-top: 8px;
}

.shop-card.shop-card--archive .shop-card__options {
    @include tablet-block {
        margin-top: 30px;
    }
    @include mobileXS-block {
        margin-top: 8px;
    }
}

// .shop-card__range {
//     -webkit-appearance: none;
//     appearance: none;
//     margin-top: 15px;
//     height: 2px;
//     background: var(--color-white);
//     outline: none;
//     opacity: 0.8;
//     transition: opacity .2s;
// }

// .shop-card__range:hover {
//     opacity: 1;
// }

// .shop-card__range::-webkit-slider-thumb{
//     -webkit-appearance: none;
//     appearance: none;
//     width: 20px;
//     height: 20px;
//     background: var(--color-white);
//     cursor: pointer;
//     border-radius: 50%;
// }

// .shop-card__range::-moz-range-thumb {
//     width: 20px;
//     height: 20px;
//     background: var(--color-white);
//     cursor: pointer;
//     border-radius: 50%;
// }

.shop-card__price {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 11px;
}

.shop-card__action {
    padding: 10px;
}

.shop-card__btn {
    text-decoration: none;
}

.shop-card__btn-svg {
    stroke: var(--color-white);
    transition: ease .3s;
}

.shop-card__btn-svg:hover {
    stroke: var(--color-orange);
}

.shop-card.is-load {
    opacity: 0.6;
    backdrop-filter: blur(2px);
    position: relative;
    pointer-events: none;
}
.shop-card.is-load:after {
    position: absolute;
    content: '';
    top: 45%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    border: 6px solid #FFD600;
    border-top: 6px solid #595959;
    border-radius: 50%;
    animation: rotate 2s infinite linear;
}