.main-screen {
    position: relative;
    height: 100vh;
    background: url('../img/main-screen-bg.jpg') center no-repeat;
    background-size: cover;
}

.main-screen__vector {
    position: relative;
    width: 100%;
    height: 480px;
    background: url('../img/vector.png') center no-repeat;
    background-size: cover;
    @include to(1440px) {
        height: 406px;
    }
}

.main-screen__actions {
    position: absolute;
    top: 211px;
    @include to(1440px) {
        top: 222px;
    }
}

.main-screen__button ~ .main-screen__button {
    margin-top: 20px;
}

.main-screen__text {
    padding: 125px 100px 0 27.3%;
    @include to(1440px) {
        padding: 125px 110px 0 27.3%;
    }
}

.main-screen__heading {
    margin-bottom: 30px;
}

.main-screen__line {
    position: absolute;
    background: url('../img/line.png') center no-repeat;
    background-size: cover;
    height: 82px;
    width: 100vw;
    bottom: 0;
}

.main-screen__trapezoid {
    width: 100%;
    background: url('../img/trapezoid.png') center bottom no-repeat;
    background-size: contain;
    position: absolute;
    height: 52px;
    bottom: 0;
}