.burger-menu {
    width: 30px;
    height: 20px;
    cursor: pointer;
    display: none;
    align-items: center;
    @include tablet(display, flex);
}

.burger-menu__line {
    display: block;
    position: relative;
    width: 30px;
    height: 3px;
    background: var(--color-black-gray);
}

.burger-menu__line::before, .burger-menu__line::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: var(--color-black-gray);
}

.burger-menu__line::before {
    bottom: 0;
    left: 0;
    margin-bottom: 8px;
}

.burger-menu__line::after {
    top: 0;
    left: 0;
    margin-top: 8px;
}